<template>
  <v-form>
    <v-container class="py-0">
    <h1>Planets</h1>
       <v-spacer />
      <v-row>
        <v-col
            cols="12"
            md="3"
          >
      <v-text-field
          v-model="search"
          class="ml-auto"
          label="Search"
          hide-details
          single-line
          style="max-width: 250px;"
          dense
        />
        </v-col>
         <v-col
            cols="12"
            md="9"
            style="text-align: left;"
          >
        <v-btn
          fab
          small
          color="secondary"
          @click="showSearch"
        >
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
         <v-spacer />
          </v-col>
          </v-row>
      <v-divider class="mt-3" />
       <v-row>
        <v-col
            cols="12"
            md="12"
          >

     <v-data-table
          :headers="headers"
          :items="model"
          @update:options="updatePagination"
          :server-items-length="totalPlanets">
      >
      </v-data-table>
       </v-col>
      </v-row>
  </v-container>
    </v-form>
</template>

<script>
import * as API from '@/common/services/genericAPI';

export default {
	name: 'ILoveYou',
	props: {

	},
	data: () => ({
		totalPlanets: 0,
		headers: [
			{
				text: 'Name',
				align: 'start',
				value: 'name'
			},
			{
				text: 'Climate',
				value: 'climate'
			},
			{
				text: 'Diameter',
				value: 'diameter'
			},
			{
				text: 'Gravity',
				value: 'gravity'
			},
			{
				text: 'Orbital period',
				value: 'orbital_period'
			},
			{
				text: 'Population',
				value: 'population'
			},
			{
				text: 'Rotation period',
				value: 'rotation_period'
			},
			{
				text: 'Surface water',
				value: 'surface_water'
			},
			{
				text: 'Terrain',
				value: 'terrain'
			}
		],
		model: [],
		search: undefined,
		url: 'https://swapi.dev/api/planets',
		currentPage: '',
		nextPage: '',
		previousPage: '',
		sortBy: false,
		currentSort: ''

	}),
	computed: {},
	mounted () {
		this.getPlanet(this.url);
	},
	methods: {
		updatePagination (pagination) {
			if (this.currentSort === '') this.currentSort = pagination.sortBy;
			if (this.currentSort !== pagination.sortBy) { this.sortBy = true; } else { this.sortBy = false; }

			if (this.currentPage !== pagination.page && !this.sortBy) {
				if (pagination.page >= this.currentPage) { this.getPlanet(this.nextPage); } else { this.getPlanet(this.previousPage); }

				this.currentPage = pagination.page;
			}

			if (this.sortBy) {
				if (this.currentPage !== '') { pagination.page = this.currentPage; }

				this.currentSort = pagination.sortBy;
				let items = this.model;
				items = items.sort((a, b) => {
					const sortA = a[pagination.sortBy[0]];
					const sortB = b[pagination.sortBy[0]];

					if (pagination.sortDesc[0]) {
						if (sortA < sortB) return 1;
						if (sortA > sortB) return -1;
						return 0;
					} else {
						if (sortA < sortB) return -1;
						if (sortA > sortB) return 1;
						return 0;
					}
				});

				if (pagination.itemsPerPage > 0) {
					//  items = items.slice((pagination.page - 1) * pagination.itemsPerPage, pagination.page * pagination.itemsPerPage)
				}
				this.model = items;
			}
		},
		showSearch () {
			this.getPlanet(this.url + '/?search=' + this.search);
		},
		getPlanet (pageURL) {
			this.showLoading();

			API.GET(pageURL, false)
				.then(r => {
					this.model = r.results;
					this.totalPlanets = r.count;
					this.nextPage = r.next;
					this.previousPage = r.previous;
				})
				.catch(e => { return alert(e); })
				.finally(() => { this.showLoading(false); });
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
