<template>
  <div id="app">
    <div id="loadingOverlay" class="loader-overlay">
        <div class="loader-content loader-center">
          <Spinner
              class="loader-center"
              size="large"
              text-fg-color="white"
              message="Loading..."
          />
        </div>
    </div>
    <ILoveYou/>
  </div>
</template>

<script>
import ILoveYou from './components/ILoveYou.vue';
import Spinner from 'vue-simple-spinner';

export default {
	name: 'App',
	components: {
		ILoveYou,
		Spinner
	},
	mounted () {
		this.showLoading();
	}
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* loading */
button {
   cursor: pointer;
}
.loader-overlay {
   -ms-opacity: 0.2;
   opacity: 0.2;
   background: rgba(52, 58, 64, 0.8);
   display: none;
   height: 100%;
   left: 0;
   position: fixed;
   top: 0;
   vertical-align: middle;
   width: 100%;
   z-index: 100000;
}
.loader-center {
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   left: 50%;
   display: block;
   position: fixed;
   top: 50%;
   transform: translate(-50%, -55%);
}

</style>
